.card {
    width: calc(25% - 20px);
    margin-bottom: 10px;
}

@media screen and (max-width: 1024px) {
    .card {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 768px) {
    .card {
        width: calc(100% - 20px);
    }
}
