.item {
    width: calc(25% - 20px);
    margin: 10px;
}

.item:hover {
    transition: all 200ms ease-in;
    transform: scale(1.02);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.item:active {
    transform: scale(1);
    background: rgba(0, 0, 0, 0.13)
}

.bages {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1200px) {
    .item {
        width: calc(33% - 20px);
    }
}

@media screen and (max-width: 1024px) {
    .item {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 500px) {
    .item {
        width: calc(100% - 20px);
    }
}
